<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>版本管理</title>
    <link rel="stylesheet" type="text/css" href="../button.css"/>
    <link rel="stylesheet" type="text/css" href="../table.css"/>
</head>
<body>
    <h2>版本更新管理页面</h2>
    <table class="version_list">
        <tr>
            <th>id</th>
            <th>是否有新版本</th>
            <th>是否强制更新</th>
            <th>平台ID</th>
            <th>版本号</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>android</td>
            <td>1.0.0</td>
            <td><button class="button button-primary button-rounded button-small"><i class="fa fa-trash-o"></i>修改</button></td>
            <td><button class="button button-primary button-rounded button-small">更改</button></td>
        </tr>
    </table>
</body>
</html>